/////////////////////////////////////////////////////
// COLOR VARIABLES
$bg: #f5f5f5
$yellowLight: #FEEB72
$yellow: #fddc02
$yellowDark: #dec20f
$yellowDark2: #B79E01
$green: #169B00
$red: #CA0505
$purple: #8875FF
$dm-purple: #5318a0
$dm-purpleDark: #321473
$dm-purpleDark2: #2e0e57
$dm-bg: #212121
$dm-bgLight: #2c2c2c

/////////////////////////////////////////////////////
// FONTS
@font-face 
    font-family: 'freckle'
    src: url("./fonts/FreckleFace-Regular.woff2")
    font-weight: 600
    font-style: normal
@font-face 
    font-family: 'nanum'
    src: url("./fonts/NanumPen.woff2")
    font-weight: 600
    font-style: normal

%font1
    font-family: 'freckle'
%font2
    font-family: 'nanum'

%fz-2-5
    font-size: 2.5rem
%fz-2-25
    font-size: 2.25rem
%fz-2
    font-size: 2rem
%fz-1-75
    font-size: 1.75rem
%fz-1-5
    font-size: 1.5rem
%fz-1-35
    font-size: 1.35rem
%fz-1
    font-size: 1rem

/////////////////////////////////////////////////////
// UTILITY MIXINS

///////////////////////////////////
// VISUAL
%transition
    -webkit-transition: all 0.3s ease-in-out
    -moz-transition: all 0.3s ease-in-out
    -o-transition: all 0.3s ease-in-out
    transition: all 0.3s ease-in-out

%hidden
    opacity: 0

%bg-normal
    background-color: $yellow
%bg-acc1
    background-color: $yellowDark
%bg-acc2
    background-color: $yellowDark2

///////////////////////////////////
// LAYOUT
%gap-5
    gap: .5rem
%gap1
    gap: 1rem
%gap1-5
    gap: 1.5rem
%gap2
    gap: 2rem
%gap2-5
    gap: 2.5rem

%fullParent
    height: 100%
    width: 100%

%autoHeight
    height: auto
%fitHeight
    height: fit-content
%fullWidth
    width: 100%
%fitWidth
    width: fit-content

%resetLayout
    margin: 0
    padding: 0

%flex-h
    display: flex
    flex-direction: row

%flex-v
    display: flex
    flex-direction: column

%center
    justify-content: center
    align-items: center
    align-self: center

%left
    justify-content: flex-start
    align-items: flex-start
    align-self: flex-start
    text-align: left

%absolute-center
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

%topCenter
    justify-content: flex-start
    align-items: center

// COMPONENT 
%component-bg
    background-color: $yellow
%component-bg-light
    background-color: $yellowLight
%component-bg-dark
    background-color: $yellowDark
%component-bg-dark2
    background-color: $yellowDark2

%border
    border: 3px solid black
    border-top-left-radius: 17px 100px
    border-top-right-radius: 13px 90px
    border-bottom-left-radius: 110px 19px
    border-bottom-right-radius: 120px 24px
    outline-offset: 0px

%outline
    outline: 4.5px solid $yellowDark2
%outlineNone
    outline: 0px solid $yellowDark2

%hover
    cursor: pointer
    &:hover
        @extend %component-bg-dark
%focus
    &:focus
        @extend %component-bg-dark, %outline
%active
    &:active
        @extend %component-bg-dark2, %outlineNone


//////////////////////////////////////////////////////
// CLASSES

////////////////////////////////////
// UTILITY CLASSES
.font1
    @extend %font1
.font2
    @extend %font2
.fz25
    @extend %fz-2-5
.fz225
    @extend %fz-2-25
.fz2
    @extend %fz-2
.fz175
    @extend %fz-1-75
.fz15
    @extend %fz-1-5
.fz135
    @extend %fz-1-35
.fz1
    @extend %fz-1
.fz-75
    font-size: .75rem
.underline
    text-decoration: underline
    
.center
    @extend %center
.top-center
    @extend %topCenter
.txt-center
    text-align: center
.left
    @extend %left
.flex
    @extend %flex-h
.vert
    @extend %flex-v
.gap-5
    @extend %gap-5
.gap1
    @extend %gap1
.gap2
    @extend %gap2
.full-width
    @extend %fullWidth
.fit-width
    @extend %fitWidth

.margin-v-1
    margin: 1rem 0
.margin-v-2
    margin: 2rem 0

///////////////////////////////////
//  NATIVE ELEMENTS - TOP LEVEL
*
    color: black
    text-decoration: none
    -ms-overflow-style: none
    scrollbar-width: none
    &::-webkit-scrollbar
        display: none  
    @extend %fz-1-35, %font2, %resetLayout

html, body
    @extend %resetLayout
    position: relative
    box-sizing: border-box
    height: 100%
    background-color: $bg
    overflow-y: scroll
    overflow-x: hidden

html
    min-height: 100%
    
body
    @extend %flex-v, %transition
    max-height: 100%     

noscript
    @extend %flex-v, %center

    
h1, h2, h3, h4
    @extend %resetLayout


///////////////////////////////////
// APP //

#app
    @extend %flex-v, %transition, %autoHeight, %topCenter
    display: none

#app-wrap
    @extend %flex-v, %center, %autoHeight, %topCenter, %transition
    max-width: 500px
    min-width: 300px
    min-height: 95%
    padding: .5rem 0 2rem

///////////////////////////////////
// LOGO //
header
    margin: .5rem auto 1rem
    a
        display: inline-block
        height: fit-content
#logo
    background-image: url('/img/logo(day).webp')
    background-position: left top
    background-repeat: no-repeat
    background-size: 90px 60px
    height: 60px
    width: 90px

///////////////////////////////////
// CARDS & CONTAINERS //

.card, .tut-card, .word-card
    min-width: 270px
    max-width: 340px
    @extend %font2, %fz-2-5, %flex-v, %border, %component-bg-light, %transition

    * :not(span, .letter-order, ul, li, p.left)
        @extend %flex-v, %center
    * :not(.btn-abs-l, .btn-abs-r, #cancel-ws, #change-username, #user-post, #user-text, .order-picker, span, .word-card div h3)
        @extend %fullWidth
    br
        display: block
    p.left
        @extend %flex-v, %left

.tut-card
    @extend %flex-v, %gap2, %center
    padding: 1.5rem 1rem
    position: relative
    
.rule-card
    padding: 1.5rem

.inner-card
    @extend %border, %fullWidth
    text-align: center

.inner-card-item
    @extend %flex-v
    padding: 1rem 0
    margin: 0

    span:not(span.fz175 + span, span.fz-75)
        @extend %flex-h, %center
        max-width: 85%
    span:has(span.fz-75)
        @extend %flex-h, %center

.inner-card-item:nth-of-type(2n)
    border-top: 3px solid black
    border-bottom: 3px solid black
.inner-card-item:last-of-type
    border-bottom: 0px solid black

p.left
    align-items: left


///////////////////////////////////
// BUTTONS //

.btn, .btn-abs-l, .btn-abs-r
    @extend %border, %font1, %fz-1-35, %focus, %active, %hover, %transition, %component-bg, %fitHeight
    padding: .5rem 1rem

.pause
    min-width: 120px

.btn-abs-l, .btn-abs.r, .order-picker, .credit
    font-family: 'nanum'

.btn-abs-l
    position: absolute
    top: -1.5rem
    left: -.5rem
    @extend %fz-1

.btn-abs-r
    position: absolute
    top: -1.5rem
    right: -.5rem
    @extend %fz-1

.order-picker
    padding: .25rem .5rem
    font-size: 1.15rem

.credit
    margin: 1rem 0 0 0

.active
    @extend %component-bg-dark, %hover, %active, %transition
    outline: 4.5px solid #B79E01

.light-btn
    @extend %component-bg-light

.letter-order
    margin: 0 0 1rem 0

@media (pointer: coarse)
    .btn
        &:hover
            background-color: $yellow
        &:focus
            outline: 4.5px solid $yellowDark2
    .active
        &:hover
            background-color: $yellowDark
        &:focus
            background-color: $yellowDark
    .pause
        &:hover:not(.active)
            background-color: $yellow
        &:focus:not(.active)
            background-color: $yellow

///////////////////////////////////
// CORE GAME //

.meat, .main
    @extend %flex-v, %center
    gap: .75rem  

.txt-card
    @extend %font2, %fz-2-5, %flex-h, %center, %fullWidth
    justify-content: space-between
    align-items: flex-start
    position: relative

.letter-meta
    @extend %flex-v
    justify-content: flex-start

.letter-wrap
    @extend %fz-2-5, %gap1, %center
    justify-content: flex-end

    span
        width: fit-content
        display: inline-block

.timer-wrap
    @extend %flex-h, %center, %fitHeight
    gap: .5rem
    min-width: 135px
    justify-content: space-between

.timer
    @extend %font1, %fz-2-5

.game-btn-wrap
    @extend %flex-h, %fullWidth
    justify-content: space-between

#word-msg
    @extend %fz-1
    align-self: center

#waiting-text
    display: inline-block
    text-align: center

.def-pop
    align-self: flex-start
    @extend %fz-1

////////////////////
// FORM INPUTS //

.form
    @extend %flex-h, %gap1, %fitWidth
    position: relative
    margin: .5rem 0 0 0


input
    @extend %font1, %transition, %fullWidth
    padding: 1rem
                  
#text, #user-text
    @extend %border, %fz-2  
    padding-right: 1rem
    letter-spacing: .05rem

    &:focus
        outline: 7px solid $yellowDark2

#user-text
    @extend %fz-1-5
    width: 80%
    padding: .5rem 1rem

#post, #user-post
    @extend %border, %focus, %active, %hover
    width: fit-content 
    height: initial


///////////////////////////////////
// WORD INFO //

.wl-wrap
    @extend %flex-v, %fullWidth
    margin: 2rem 0 0
    max-width: 100%
    position: relative

    &::before
        content: ""
        position: absolute
        top: 0
        left: -2px
        width: 12%
        height: 100%
        background-image: linear-gradient(270deg, rgba(0, 0, 0, 0), $bg)
        background-color: rgba(0, 0, 0, 0)
        z-index: 100

    &::after
        content: ""
        position: absolute
        top: 0
        right: 0
        width: 12%
        height: 100%
        background-image: linear-gradient(270deg,  $bg, rgba(0, 0, 0, 0))
        background-color: rgba(0, 0, 0, 0)
        z-index: 100

    span
        text-align: center

.wl
    @extend %flex-h, %gap1

    padding: .5rem 1.25rem 1rem
    position: relative
    justify-content: center
    list-style-type: none

    overflow-x: scroll 

.word-card-wrap
    @extend %flex-v, %fullWidth
    margin: 1rem 0 0 0
    position: relative
    height: 40vh
    min-width: 300px

    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 1.5rem
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), $bg)
        background-color: rgba(0, 0, 0, 0)
        z-index: 100

    &::after
        content: ""
        position: absolute
        bottom: -2px
        left: 0
        width: 100%
        height: 1.5rem
        background-image: linear-gradient(0deg,  $bg, rgba(0, 0, 0, 0))
        background-color: rgba(0, 0, 0, 0)
        z-index: 100

.word-card-scroller
    @extend %topCenter, %fullWidth, %flex-v
    padding: 10% 3%
    overflow-y: scroll
    overflow-x: hidden
    min-width: 100%

    &:focus
        @extend %outline

.word-card
    @extend %flex-v, %center, %fullWidth
    padding: 1rem 0
    max-width: 340px

    ul
        max-width: 75%
        text-align: left
        list-style: disc outside
        @extend %gap-5, %flex-v

        li
            display: list-item

    div 
        max-width: 85%

        h3
            text-align: center

.word-card-info 
    @extend %flex-v, %gap1, %center

    ul
        padding-left: 10%

    span
        max-width: 75%
        text-align: center



////////////////////////////////////////////////////
// MOBILE //

@media (max-width: 535px)
    #app-wrap
        max-width: 90%
    .card, .tut-card
        min-width: 270px
        max-width: 270px


////////////////////////////////////////////////////
// DARK MODE //

@media (prefers-color-scheme: dark)
    #logo
        background-image: url('/img/logo(night).webp')
    %focus
        &:focus
            outline: 4.5px solid $purple

    html, body
        background-color: $dm-bg

    *
        color: white

    .btn, .btn-abs-l, .btn-abs-r, #post, #user-post
        background-color: $dm-purple
        color: white
        border-color: white

        &:focus
            color: white
            background-color: $dm-purpleDark2
        &:active
            color: white
            background-color: $dm-purpleDark2
        &:hover
            color: white
            background-color: $dm-purpleDark2

    .light-btn
        background-color: $dm-purpleDark

    .pause, .quit, #post, #user-post
        &:hover
            background-color: $dm-purpleDark2

    .active
        &:hover
            background-color: $dm-purpleDark2

        background-color: $dm-purpleDark2
        outline: 4.5px solid $purple

    @media (pointer: coarse)
        .btn, #post, #user-post
            &:hover
                background-color: $dm-purple
            &:focus
                outline: 4.5px solid $purple
        .active
            &:hover
                background-color: $dm-purpleDark2
            &:focus
                background-color: $dm-purpleDark2
        .pause
            &:hover:not(.active)
                background-color: $dm-purple
            &:focus:not(.active)
                background-color: $dm-purple

    .card, .tut-card, .word-card
        background-color: $dm-purpleDark2
        color: white
        border-color: white

    .inner-card, .inner-card-item, .inner-card-item:nth-of-type(2n)
        border-color: white

    .middle-example
        border-top: 3px solid white
        border-bottom: 3px solid white

    .top-example
        border-bottom: 3px solid white

    input
        background-color: $dm-bgLight
        color: white
        border-color: white
        caret-color: white
        &:focus
            outline: 4.5px solid $purple
            color: white

    #text, #user-text, #post, #user-post
        border-color: white
    #text, #user-text
        &:focus
            outline: 7px solid $purple
            color: white
    #post, #user-post
        background-color: $dm-purple


    .wl-wrap
        &::before
            background-image: linear-gradient(270deg, rgba(0, 0, 0, 0), $dm-bg)

        &::after
            background-image: linear-gradient(270deg,  $dm-bg, rgba(0, 0, 0, 0))

    .word-card-wrap
        &::before
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), $dm-bg)

        &::after
            background-image: linear-gradient(0deg,  $dm-bg, rgba(0, 0, 0, 0))
    li
        &::marker
            color: white


