@font-face {
  font-family: "freckle";
  src: url("/fonts/FreckleFace-Regular.woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "nanum";
  src: url("/fonts/NanumPen.woff2");
  font-weight: 600;
  font-style: normal;
}
input, .timer, .btn, .font1 {
  font-family: "freckle";
}

.card, .txt-card, .font2 {
  font-family: "nanum";
}

input, .timer {
  font-size: 3rem;
}

.font1 {
  font-size: 2.5rem;
}

.card, .letter-wrap, .txt-card, .btn, .font2 {
  font-size: 1.5rem;
}

.card, .btn {
  padding: 0.5rem 1rem;
  background-color: #fddc02;
}

.btn:focus, a:focus {
  outline: 9px solid #B79E01;
  color: black;
}

.btn:active {
  background-color: #8875FF;
}

.btn:hover {
  background-color: #dec20f;
}

kbd, .example, .card, input, .btn {
  border: 3px solid black;
  border-top-left-radius: 17px 100px;
  border-top-right-radius: 13px 90px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;
}

.wl, .letter-wrap, .form, .txt-card, .timer-wrap, .gap2, .gap1, .flex, .logo-holster {
  display: flex;
}

.word-card-wrap, .tut-card, .card, .wl-wrap, .letter-meta, .main, .vert, .meat, .app-wrap, #app, body {
  display: flex;
  flex-direction: column;
}

.txt-card, .timer-wrap, .main, .vert, .center, .logo-holster, .meat, .app-wrap {
  justify-content: center;
  align-items: center;
}

#app {
  opacity: 0;
}

.lost-card, .letter-wrap, .gap1 {
  gap: 1rem;
}

.tut-card, .form, .main, .gap2 {
  gap: 2rem;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

html {
  height: 100%;
  min-height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: all 0.5s;
}
body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

#logo:focus {
  outline: none;
}
#logo:active {
  outline: 0px;
}

.overflow {
  overflow-y: scroll;
}

#app {
  justify-content: flex-start;
  align-items: center;
  height: 0%;
  transition: all 0.5s;
}

.app-wrap {
  max-width: 500px;
  min-width: 320px;
  height: auto;
  min-height: 90%;
  justify-content: flex-start;
  padding: 2rem 0;
  transition: all 0.5s;
}

.meat {
  gap: 2rem;
}

.logo-holster {
  height: 100%;
  width: 100vw;
}

.logo {
  width: 50%;
  height: auto;
  padding-top: 10px;
  margin: auto auto;
}

.btn {
  color: black;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn:active {
  outline: 0px solid #000;
}
.btn:hover {
  cursor: pointer;
}

.active {
  background-color: #dec20f;
  outline: 4.5px solid #B79E01;
}

.btn-highlight {
  outline: 9px solid #B79E01;
  transition: all 0.3s ease-in-out;
}

.btn-highlight2 {
  outline: 0px solid #B79E01;
  transition: all 0.3s ease-in-out;
}

#credit {
  background-color: #fddc02;
}

.intro {
  justify-self: center;
  margin: 2rem 0;
}
.intro .btn {
  font-size: 3rem;
}

.timer-wrap {
  height: fit-content;
  gap: 0.5rem;
  min-width: 120px;
  justify-content: space-between;
}

.txt-card {
  justify-content: space-between;
  width: 100%;
}

.bottom-txt {
  align-items: initial;
}

.form {
  width: fit-content;
}

input {
  width: 100%;
  padding: 1rem;
  transition: all 0.3s;
}
input:focus {
  outline: 9px solid #fddc02;
  color: black;
}

.letter-wrap {
  justify-content: flex-end;
}

.tvc {
  align-self: center;
  text-align: center;
}

.wl-wrap {
  margin: 2rem 0 0;
  width: 100%;
  max-width: 100%;
  position: relative;
}
.wl-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 12%;
  height: 100%;
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0), #f5f5f5);
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
}
.wl-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 12%;
  height: 100%;
  background-image: linear-gradient(270deg, #f5f5f5, rgba(0, 0, 0, 0));
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
}

.wl {
  padding: 1rem 1.25rem;
  list-style-type: none;
  gap: 1rem;
  position: relative;
  justify-content: center;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.wl::-webkit-scrollbar {
  display: none;
}

.middle-example {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.top-example {
  border-bottom: 3px solid black;
}

.card {
  max-width: 300px;
  background-color: #FEEB72;
  transition: all 0.3s;
}

li.tvc.card {
  padding: 1.5rem;
}

.back {
  position: absolute;
  top: -1.5rem;
  left: -0.5rem;
}

.back2 {
  position: absolute;
  top: -1.5rem;
  right: -0.5rem;
}

.example {
  width: 100%;
  padding: 1rem 0;
}

.tut-card {
  padding: 2rem;
  position: relative;
}
.tut-card .btn {
  transition: all 0.3s;
}

.word-card-wrap {
  margin: 0.5rem 0 0 0;
  position: relative;
  height: 50vh;
}
.word-card-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), #f5f5f5);
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
}
.word-card-wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-image: linear-gradient(0deg, #f5f5f5, rgba(0, 0, 0, 0));
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
}

.word-card-scroller {
  padding: 10% 0;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.word-card-scroller::-webkit-scrollbar {
  display: none;
}

.word-card {
  padding: 1rem 1rem 1.5rem 1rem;
  transition: all 0.5s;
}

.lost-card {
  padding: 1rem 1rem 1.5rem 1rem;
}

@media (max-width: 500px) {
  .app-wrap {
    max-width: 90%;
  }
  #post {
    display: none;
  }
  .btn:hover {
    background-color: #fddc02;
  }
}
@media (prefers-color-scheme: dark) {
  a:focus, .btn:focus {
    outline: 9px solid #8875FF;
  }
  html, body {
    background-color: #212121;
    color: white;
  }
  a {
    color: white;
  }
  .btn, .card, .example {
    background-color: #471686;
    color: white;
    border-color: white;
  }
  .btn:focus {
    color: white;
    background-color: #1F0C48;
  }
  .btn:active {
    color: white;
    background-color: #1F0C48;
  }
  .btn:hover {
    color: white;
    background-color: #1F0C48;
  }
  .btn-highlight {
    outline: 9px solid #8875FF;
    transition: all 0.3s ease-in-out;
  }
  .btn-highlight2 {
    outline: 0px solid #8875FF;
    transition: all 0.3s ease-in-out;
  }
  .active {
    background-color: #1F0C48;
    outline: 4.5px solid #8875FF;
  }
  #credit {
    background-color: #471686;
  }
  input {
    border-color: #1F0C48;
  }
  input:focus {
    outline: 9px solid #8875FF;
    color: black;
  }
  .wl-wrap::before {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0), #212121);
  }
  .wl-wrap::after {
    background-image: linear-gradient(270deg, #212121, rgba(0, 0, 0, 0));
  }
  .word-card-wrap::before {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), #212121);
  }
  .word-card-wrap::after {
    background-image: linear-gradient(0deg, #212121, rgba(0, 0, 0, 0));
  }
  .middle-example {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }
  .top-example {
    border-bottom: 3px solid white;
  }
}/*# sourceMappingURL=index.css.map */